tables={{ owner }}.SSTB_USER,
{{ owner }}.SMTB_USER_ROLE,
{{ owner }}.SMTB_USER,
{{ owner }}.CSTB_DEBUG_USERS,
{{ owner }}.GITM_INTERFACE_DEFINITION,
{{ owner }}.PMTM_JOB_PARAM,
{{ owner }}.CSTB_PARAM,
{{ owner }}.PMTM_SYSTEM_PARAMETERS,
{{ owner }}.WL_LLR,
{{ owner }}.PMTM_QUEUE_PROFILE,
{{ owner }}.IFTM_EXTERNAL_SERVICE_DETAILS,
{{ owner }}.GETM_BLOCK_EXT_SYS_DETAIL,
{{ owner }}.IFTM_EXT_PAYSYS_DETAIL,
{{ owner }}.CSTM_EXTERNAL_SERVER_DETAILS,
{{ owner }}.CSTB_PARAM_CUSTOM,
{{ owner }}.IFTB_PARAM,
{{ owner }}.IFTM_INTEGRATION_DETAILS,
{{ owner }}.FBTB_USER,
{{ owner }}.COTM_USER_DETAILS,
{{ owner }}.SMTB_USER_ENTITY,
{{ owner }}.PMTM_USER_FUNC_LIMIT,
{{ owner }}.PMTM_USER_LIMIT,
{{ owner }}.SMTB_USERS_FUNCTIONS,
{{ owner }}.PMTB_USER_QUEUE_MASTER,
{{ owner }}.PMTM_EXT_NOTIF_SYSTEM,
{{ owner }}.SMTB_USER_LM_TILLS,
{{ owner }}.SMTB_USER_LIMITS_ROLE,
{{ owner }}.SMTB_USER_TILLS,
{{ owner }}.SMTB_USERLOG_DETAILS,
{{ owner }}.SMTB_USER_ACCESS_GROUP,
{{ owner }}.SMTB_USER_CENTRAL_ROLES,
{{ owner }}.SMTB_DASHBOARD_MASTER,
{{ owner }}.SMTB_MSGS_RIGHTS,
{{ owner }}.SMTB_QUEUE_RIGHTS,
{{ owner }}.SMTB_USER_ACCCLASS,
{{ owner }}.SMTB_USER_ACCESS_PRODUCTS,
{{ owner }}.SMTB_USER_BRANCHES,
{{ owner }}.SMTB_USER_FUNC_DISALLOW,
{{ owner }}.SMTB_USER_PRODUCTS,
{{ owner }}.SMTB_RESTRICTIVE_PASSWD
